<!DOCTYPE html>
<html lang="en">
	<head>
	</head>
	<body>
    <h1>
      <%=title%> in EJS
    </h1>
      <ul>
         <% for(var i=0; i<list.length;i++){%>
           <li><a><%=list[i]%></a></li>
        <%}%>
      </ul>
	</body>
</html>
